page-login {
  .header {
    border: none !important;
    .toolbar {
      .toolbar-background {
        background: transparent !important;
      }
    }
    .toolbar-md {
      border: none !important;
    }
  }
  .sign {
    background: linear-gradient(180deg, #4aa1f3, #64b5f6);
    text-align: center;
  }

  .logo {
    margin-top: 5px;
    h2 {
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      margin: 0 auto;
      color: color($colors, color4);
      text-transform: uppercase;
    }
    p {
      margin: 0px;
      color: color($colors, color4);
      @include whiteNormal(15px, 1);
    }
  }
  .signin {
    margin: 0px;
    color: color($colors, light);
    @include whiteNormal(24px, 1);
    display: inline;
  }

  .scroll-content {
    overflow: hidden !important;
  }

  input {
    @include placeholder {
      color: color($colors, graycolor) !important;
    }
  }

  .login-button {
    text-transform: none;
    border-radius: 3px !important;
    background: white;
    color: #4aa1f3 !important;
    margin-top: 15px !important;
  }

  .text-input::-moz-placeholder {
    color: color($colors, graycolor) !important;
  }

  .text-input:-ms-input-placeholder {
    color: color($colors, graycolor) !important;
  }

  .text-input::-webkit-input-placeholder {
    color: color($colors, graycolor) !important;
  }
}
