app-user-friends {
  .item {
    background: none;
    padding: $content-padding 0px;
    border-bottom: 1px solid color($colors, light) !important;
    &:last-of-type {
      border-bottom: none !important;
    }
    margin-bottom: 0px !important;
    ion-avatar {
      margin: $content-padding/2;
      img {
        width: 44px;
        height: 44px;
      }
    }
    .grid {
      padding: 0px;
      .col {
        padding: 0px;
        display: flex;
        align-items: center;
      }
    }
    h5 {
      font-weight: 400;
      @include whiteNoWrap(20px);
      margin: 0px !important;
    }
    p {
      font-size: 1.3rem !important;
      @include whiteNoWrap(20px);
    }
    span {
      font-size: 1.5rem;
      @include whiteNoWrap(20px);
      max-width: 100px;
    }
  }
  .grid {
    .col {
      overflow: hidden;
    }
  }
  .group {
    %inContainer {
      border-bottom: 1px solid color($colors, color4);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-bottom: $content-padding/2;
    }
    %itemContainer {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      margin: $content-padding $content-padding/2;
      display: inline-block;
    }
    .container {
      background: color($colors, light);
      text-align: center;
      padding: $content-padding;
      position: relative;
      height: 200px !important;
    }
    .created_group {
      .container {
        .imgs {
          @extend %inContainer;
          height: 150px !important;
          width: 150px !important;
          text-align: center !important;
          margin: 0 auto !important;
        }
        .imgBg {
          position: relative;
          @extend %itemContainer;
          &.online {
            &:after {
              content: '';
              @include position(auto, 7px, 0px, auto);
              background: color($colors, color2);
              width: 100%;
              height: 100%;
              border-radius: 50%;
            }
          }
        }
        p {
          margin: 0px;
          @include whiteNoWrap(20px);
          font-weight: 400;
          &:first-of-type {
            margin-top: $content-padding;
          }
        }
        .button {
          @include position(0px, 0px, auto, auto);
          min-width: 34px;
          width: 34px;
          height: 34px;
          opacity: 1 !important;
        }
      }
    }
  }

  @media only screen and (max-width: 767px) {
    .group {
      .container {
        height: 180px !important;
      }

      .created_group {
        .container {
          .imgs {
            height: 120px !important;
            width: 120px !important;
            text-align: center !important;
            margin: 0 auto !important;
          }
          .imgBg {
            position: relative;
            &.online {
              &:after {
                content: '';
                background: color($colors, color2);
                width: 100%;
                height: 100%;
                border-radius: 50%;
              }
            }
          }
        }
      }
    }
  }
}
