page-post {
  ion-header {
    .toolbar-background {
      background-color: color($colors, blue-color);
    }

    .viewPost {
      background: inherit !important;
      border: 1px solid white;
      color: white;
      height: 30px;
      float: right;
      margin-right: 10px;
    }

    .title-md {
      margin: 0 auto !important;
      text-align: center !important;
      padding-left: 10px !important;
    }
  }

  ion-content {
    textarea {
      max-width: 100%;
      width: 100%;
      height: 15vh;
      border: 1px solid #64b5f6 !important;
      padding: 5px 5px !important;
    }

    .addPost {
      background: #64b5f6;
      color: white;
    }

    .imgBtn {
      font-size: 1.4rem !important;
    }

    .message {
      color: color($colors, graycolor);
    }

    .addImg {
      margin: 0px;
      padding: 0px;
      width: 100% !important;
    }

    .item-inner {
      border: none !important;
      margin: 0px;
      padding: 0px;
    }

    .message {
      margin: 0px;
    }
  }
}
