<ion-header>
  <ion-navbar>
    <ion-title>Change Password</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="passwordForm" (ngSubmit)="OnPasswordChange()">
    <ion-label color="primary" stacked>Current Password</ion-label>
    <ion-item>
      <ion-input type="password" formControlName="cpassword"></ion-input>
    </ion-item>
    <p class="error" *ngIf="!passwordForm.controls['cpassword'].valid && passwordForm.controls['cpassword'].touched">
      Current password is required
    </p>
    <ion-label color="primary" stacked>New Password</ion-label>
    <ion-item>
      <ion-input type="password" formControlName="newPassword"></ion-input>
    </ion-item>
    <p class="error" *ngIf="!passwordForm.controls['newPassword'].valid && passwordForm.controls['newPassword'].touched">
      New password is required
    </p>
    <ion-label color="primary" stacked>Confirm Password</ion-label>
    <ion-item>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>
    <p class="error" *ngIf="!passwordForm.controls['confirmPassword'].valid && passwordForm.controls['confirmPassword'].touched">
      Confirm password is required
    </p>
    <p class="error" *ngIf="passwordForm.errors">Password does not match</p>

    <button class="passwordChange" ion-button block [disabled]="!passwordForm.valid">
      Change Password
    </button>
  </form>
</ion-content>