page-change-password {
  ion-header {
    .title-md {
      margin: 0 auto !important;
      text-align: center !important;
      padding-left: 10px !important;
    }
  }
  .error {
    color: red;
    padding: 0px !important;
    margin: 0px !important;
  }

  .item {
    &.item-block {
      .input-md {
        padding: 0px $content-padding;
        background: color($colors, light);
        padding: 0px !important;
        margin: 0px !important;
      }
      .select {
        padding: 0px $content-padding;
        background: color($colors, light);
        padding: 0px !important;
        margin: 0px !important;
      }
    }
  }
  .button-inner {
    border-bottom: 1px solid color($colors, primary);
  }

  .passwordChange {
    margin-top: 20px !important;
  }

  .label-md[stacked] {
    font-size: 1.7rem !important;
    margin-top: 10px !important;
    margin-left: 6px;
  }

  .text-input-md {
    border-bottom: 1px solid color($colors, primary);
    margin-bottom: 10px !important;
  }
}
