page-alert {
  ion-content {
    margin-top: 10px;

    .alert-card {
      padding: 0px !important;
      margin: 0px !important;
      height: 80px !important;
      width: 100%;
      margin-bottom: 5px !important;
      box-shadow: none !important;
    }

    ion-item {
      height: 80px !important;
      margin: 0px !important;
      padding: 0px !important;
      top: -8px !important;
      bottom: 0px !important;
    }

    .ionAvatar {
      margin-top: -32px !important;
      margin-left: 10px !important;
      margin-right: 15px !important;
    }

    .msg {
      color: #4aa1f3;
    }

    .read {
      color: #c0c0c0;
    }
  }
}
