page-chat-list {
  ion-content {
    .alert-card {
      padding: 0px !important;
      margin: 0px !important;
      height: 80px !important;
      width: 100%;
      margin-bottom: 5px !important;
      box-shadow: none !important;
    }

    ion-item {
      height: 80px !important;
      margin: 0px !important;
      padding: 0px !important;
      top: -8px !important;
      bottom: 0px !important;
    }

    .unread {
      color: #c0c0c0 !important;
    }

    .read {
      color: #4aa1f3;
    }

    .sender {
      color: #4aa1f3;
    }

    .ionAvatar {
      margin-top: -10px !important;
      margin-left: 10px !important;
    }

    .msgGrid {
      margin-top: -10px !important;
    }

    .msg {
      background: #4aa1f3;
      border-radius: 0.8em; //12px
      -moz-border-radius: 0.8em; //12px
      -webkit-border-radius: 0.8em; //12px
      color: #ffffff;
      font-weight: bold;
      line-height: 1.5em;
      text-align: center;
      width: 25px;
      height: 25px;
      font-size: 10px;
      padding-top: -50px !important;
    }
  }
}
