page-comments {
  ion-header {
    .toolbar-background {
      background-color: color($colors, blue-color);
    }

    .viewPost {
      background: inherit !important;
      border: 1px solid white;
      color: white;
      height: 30px;
      float: right;
      margin-right: 10px;
    }

    .toolbar-title-md {
      width: auto !important;
    }

    button.viewPost {
      padding: 5px;
    }
  }

  ion-content {
    textarea {
      max-width: 100%;
      width: 100%;
      height: 15vh;
      border: 1px solid #4aa1f3 !important;
      padding: 5px 5px !important;
    }

    .addImg {
      margin: 0px;
      padding: 0px;
      width: 100% !important;
    }

    .addComment {
      background: #4aa1f3;
      color: white;
    }

    .item-inner {
      border: none !important;
      margin: 0px;
    }

    .username {
      color: #4aa1f3;
      font-size: 1.5rem !important;
      padding-top: 3px !important;
    }

    .postTime {
      font-size: 1.4rem !important;
      padding-bottom: 3px;
      font-weight: 200;
      font-style: italic;
    }

    .comment {
      font-size: 1.4rem !important;
    }

    .message {
      color: color($colors, graycolor);
    }
  }
}
